@import "variables";
@import "~bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

@media print {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
}
